html{
  scroll-behavior: smooth;
}
body{
  background-color: rgb(130, 60, 60);
  margin: 0;
  padding: 0;
  margin-top: 75px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


h1,h2,h3,p{
  font-family: "sofia", sans-serif;
  text-align: center;

}

div.table{
  display: flex;
  justify-content: center;
  padding: 30px;
  margin: 20px auto;
  width: fit-content;
  height: fit-content;
  background-color: rgb(51, 51, 51);
  border: 1px solid black;
  border-radius: 25px;
}
table, th, td{
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
  padding: 10px;
  color: white;
}

img {
  display: block;
  margin-left: auto;    
  margin-right: auto;
  }
video {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.pfp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 50%;
  } 
button{
    display: inline-block;
    margin: 0px 10px;
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    font-family: "sofia", sans-serif;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(100, 100, 100);
    border-radius: 25px;
    color: white;
  }

video{
  margin-bottom: 20px;
}
nav ul{
  display: inline-block;
    list-style: none;
    background-color: rgb(51, 51, 51);
    border: 1px solid rgb(0, 0, 0);
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    width: 100%;
    position: fixed;
    top: 0;
  }
  
nav ul li{
    position: relative;
    border-right: 1px solid rgb(100, 100, 100);
    float: left;
  }
nav ul li a{
    display: inline-block;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
  }
nav ul li ul.dropdown li{
    display: block;
  }
nav ul li ul.dropdown{
    width: 100%;
    background-color: rgb(51, 51, 51);
    position: absolute;
    z-index: auto;
    display: none;
    margin-top: 50px;
  }
nav ul li a:hover{
    background-color: rgb(17, 17, 17);
    }
nav ul li:hover ul.dropdown{
    display: block;
  }
.active{
    background-color: rgb(110, 30, 30);
  }
footer{
  background-color: rgb(51, 51, 51);
  display: block;
  border: 1px solid black;
  margin-top: auto;
}
footer address a{
  text-decoration: none;
  text-align: center;
}
footer h2, footer p{
  color: white
}
.footer-box{
  display: flex;
  flex-direction: row;
}
.footer-box a img, .footer-box img{
  margin: 15px;
  border-radius: 15px;
}

.footer-1, .footer-2, .footer-3{
  display: flex;
  flex-direction: column;
}
.footer-row{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

address{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
div.tegel{
display: flex;
flex-direction: row;
width: 300px;
height: 175px;
background-color: rgb(51, 51, 51);
border-radius: 25px;
border: 1px solid black;
}
div.column-text{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: auto;
  margin-top: auto;
}
.tegel-1{ grid-area: tegel-1;}
.tegel-2{ grid-area: tegel-2;}
.tegel-3{ grid-area: tegel-3;}
.tegel-4{ grid-area: tegel-4;}
.tegel-5{ grid-area: tegel-5;}
.tegel-6{ grid-area: tegel-6;}



div.tegels{
  display: grid;
  grid-template-areas: 
  'tegel-1 tegel-2'
  'tegel-3 tegel-4'
  'tegel-5 tegel-6';
  gap: 30px;
  padding: 0px;
  width: fit-content;
  height: auto;
  justify-items: center;
  margin: 20px auto;
}

a{
  text-decoration: none;
  color: white;
}

.article-grid{ grid-area: article-grid;}
.image-1-grid{grid-area: image-1-grid;}
.image-2-grid{grid-area: image-2-grid;}
.image-3-grid{grid-area: image-3-grid;}

.image-1-grid, .image-2-grid, .image-3-grid{
  border-radius: 15px;
}

.article-page{
display: grid;
grid-template-areas: 
'article-grid article-grid image-1-grid'
'article-grid article-grid image-2-grid'
'article-grid article-grid image-3-grid';
gap: 30px;
padding: 30px;
width: 750px;
height: auto;
justify-items: center;
align-items: center;
background-color: rgb(51, 51, 51);
border-radius: 25px;
border: 1px solid black;
margin: 50px auto;
}
.article-grid{
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  color: white;
}
.article-page h1, .article-page h2, .article-page h3, .article-page p{
  text-align: left;
}
form{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 50px auto;
  background-color: rgb(51, 51, 51);
  padding: 30px;
  border-radius: 25px;
  border: 1px solid black;
}
form input, form textarea{
  padding: 5px 10px;
  border-radius: 5px;
}
form label{
  color: white;
  margin: 20px auto 5px 0px;
}
form input[type=submit]{
  max-width: fit-content;
  margin:10px 0px auto auto;
}

form textarea{
  resize: vertical;
  width: auto;
  height: 175px;
  max-height: 400px;
}
form input{
  width: 250px;
}
.submit-contact{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
