html{
  scroll-behavior: smooth;
}
body{
  background-color: rgb(220, 90, 90);
  margin: 4em 0em 0em 0em;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


h1,h2,h3,p{
  font-family: "sofia", sans-serif;
  text-align: center;
}

div.table-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  margin: 1em auto;
  width: fit-content;
  height: fit-content;
  background-color: rgb(17, 17, 17);
  border: 1px solid black;
  border-radius: 1em;
}
div.table-box h2{
  color: white;
}
table, th, td{
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
  padding: 0.25em;
  color: white;
}

img {
  display: block;
  margin-left: auto;    
  margin-right: auto;
  }
video {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.pfp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 50%;
  } 
a.btn{
  display: inline-block;
  padding: 1em 2em;
  margin: 1em;
  border: 1px solid black;
  border-radius: 1.5em;
  background-color: rgb(100, 100, 100);
  font-size: 1em;
  color: white;
  }
a.btn:hover{
  background-color: rgb(51, 51, 51);
}

video{
  margin-bottom: 1em;
}
nav ul{
  display: flex;
  flex-direction: row;
    list-style: none;
    background-color: rgb(51, 51, 51);
    border: 1px solid rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    top: 0;
  }
  
nav ul li{
    position: relative;
    border-right: 1px solid rgb(100, 100, 100);
    float: left;
  }
nav ul li a{
    display: flex;
    flex-direction: row;
    padding: 0.7em 0.8em;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.25em;
  }
nav ul li ul.dropdown li{
    display: block;
  }
nav ul li ul.dropdown{
    width: 100%;
    background-color: rgb(51, 51, 51);
    position: absolute;
    z-index: 1;
    display: none;
    margin-top: 3.125em;
  }
nav ul li a:hover{
    background-color: rgb(17, 17, 17);
    }
nav ul li:hover ul.dropdown{
    display: block;
  }
.active{
    background-color: rgb(110, 30, 30);
  }
footer{
  background-color: rgb(51, 51, 51);
  display: block;
  border: 1px solid black;
  width: 100%;
  position: relative;
  margin-top: auto;
  z-index: 2;
}
footer h2, footer p{
  color: white
}
.footer-box{
  display: flex;
  flex-direction: row;
}
.footer-box a img, .footer-box img{
  margin: 1em;
  border-radius: 1em;
}

.footer-1, .footer-2, .footer-3{
  display: flex;
  flex-direction: column;
}
.footer-row{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

address{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
div.tegel{
display: flex;
flex-direction: row;
width: 18.75em;
height: 11.25em;
background-color: rgb(51, 51, 51);
border-radius: 1.5em;
border: 1px solid black;
}
div.tegel:hover{
  background-color: rgb(17, 17, 17);
}
div.column-text{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: auto;
  margin-top: auto;
}
.tegel-1{ grid-area: tegel-1;}
.tegel-2{ grid-area: tegel-2;}
.tegel-3{ grid-area: tegel-3;}
.tegel-4{ grid-area: tegel-4;}
.tegel-5{ grid-area: tegel-5;}
.tegel-6{ grid-area: tegel-6;}



div.tegels{
  display: grid;
  grid-template-areas: 
  'tegel-1 tegel-2'
  'tegel-3 tegel-4'
  'tegel-5 tegel-6';
  gap: 2em;
  padding: 0em;
  width: fit-content;
  height: auto;
  justify-items: center;
  margin: 1.25em auto;
}

a{
  text-decoration: none;
  color: white;
}

.article-grid{ grid-area: article-grid;}
.image-1-grid{grid-area: image-1-grid;}
.image-2-grid{grid-area: image-2-grid;}
.image-3-grid{grid-area: image-3-grid;}

.image-1-grid, .image-2-grid, .image-3-grid{
  border-radius: 1em;
}

.article-page{
display: grid;
grid-template-areas: 
'article-grid article-grid image-1-grid'
'article-grid article-grid image-2-grid'
'article-grid article-grid image-3-grid';
gap: 2em;
padding: 2em;
width: 47.5em;
height: auto;
background-color: rgb(51, 51, 51);
border-radius: 1.5em;
border: 1px solid black;
margin: 2em auto;
}
.article-grid{
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  color: white;
}
.article-page h1, .article-page h2, .article-page h3, .article-page p{
  text-align: left;
}
form{
  display: flex;
  flex-direction: column;
  width: 31.25em;
  margin: 3em auto;
  background-color: rgb(51, 51, 51);
  padding: 2em;
  border-radius: 1.5em;
  border: 1px solid black;
}
form input, form textarea{
  padding: 0.3em 0.625em;
  border-radius: 0.3em;
}
form label{
  color: white;
  margin: 1.25em auto 0.25em 0em;
}
form input[type=submit]{
  max-width: fit-content;
  margin:0.625em 0em auto auto;
}

form textarea{
  resize: vertical;
  width: auto;
  height: 11.25em;
  max-height: 25em;
}
form input{
  width: 16.25em;
}
.submit-contact{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto auto 3em auto;
  background-color: rgb(51, 51, 51);
  border: 1px solid black;
  padding: 2em;
  border-radius: 1.5em;
  color: white;
}

.article-abme{grid-area: article-abme;}
.table-box{grid-area: table-box;}
.vid-abme{grid-area: vid-abme;}

.grid-abme{
  display: grid;
  grid-template-areas:
  'article-abme article-abme table-box'
  'article-abme article-abme vid-abme';
  gap: 2em;
  padding: 2em;
  width: 55em;
  height: auto;
  background-color: rgb(51, 51, 51);
  border-radius: 1.5em;
  border: 1px solid black;
  margin: 2em auto;
}
.article-abme{
  color: white;
}
/* cookies */
.cookies{
  width: 300px;
  height: 300px;
  margin: auto;
  background-color: rgb(51, 51, 51);
  border: 1px solid black;
  position: fixed;
  top: 50%;
  margin-top: -150px;
  left: 50%;
  margin-left: -150px;
  color: white;
  border-radius: 1.5em;
  line-height: 1.25em;
  font-size: 1em;
  padding: 0.3em;
  z-index: 100;
}
.cookies h1{
  color: white;
  line-height: 1.25em;
  font-size: 1.5em;
  padding: 0.3em;
}
.cookies button{
  background-color: black;
  color: white;
  line-height: 1.25em;
  font-size: 1em;
  padding: 0.3em;
}
/* light mode area from here */
nav ul li.lightmode{
  display: flex;
  align-self: right;
  margin-left: auto;
  margin-right: 1em;
  border-left: 1px solid rgb(100, 100, 100);
  border-right: none;
  padding-left: 1em;
}
nav ul li button.lightmode{
  padding: 0;
  margin: auto;
  line-height: 1.25em;
  font-size: 1em;
}
.light-mode{
  background-color: rgb(13, 13, 57);
  color: white;
}