html{
  scroll-behavior: smooth;
}
body{
  margin: 4em 0em 0em 0em;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


h1,h2,h3,p{
  font-family: "sofia", sans-serif;
  text-align: center;
}

div.table-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  margin: 1em auto;
  width: fit-content;
  height: fit-content;
  border-radius: 1em;
}
table, th, td{
  border-collapse: collapse;
  padding: 0.25em;
}

img {
  display: block;
  margin-left: auto;    
  margin-right: auto;
  }
video {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.pfp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 50%;
  } 
a.btn{
  display: inline-block;
  padding: 1em 2em;
  margin: 1em;
  border-radius: 1.5em;
  font-size: 1em;
  }
video{
  margin-bottom: 1em;
}
nav.desktop-nav{
  ul{
    display: flex;
    flex-direction: row;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      position: fixed;
      top: 0;
      li{
        position: relative;
        float: left;
        ul.dropdown{
          width: 100%;
          position: absolute;
          z-index: 1;
          display: none;
          margin-top: 3.125em;
          li{
            display: block;
          }
        }
        a{
          display: flex;
          flex-direction: row;
          padding: 0.7em 0.8em;
          text-decoration: none;
          text-align: center;
          font-size: 1.25em;
        }
        button.lightmode{
          padding: 0;
          margin: auto;
          line-height: 1.25em;
          font-size: 1em;
        }
      }
      li:hover{
        ul.dropdown{
          display: block;
        }
      }
      li.lightmode{
        display: flex;
        align-self: right;
        margin-left: auto;
        margin-right: 1em;
        border-right: none;
        padding-left: 1em;
      }
    }
}
/* --------
@media screen and (min-width: 700px) {
  .mobile-nav {
      display: none;
  }

  .desktop-nav{
      display: block;
  }
} */

.hamburger-menu{
  position: absolute;
  right: 10px;
}

.mobile-nav{
  display: none;
}

@media screen and (max-width: 700px) {
  .desktop-nav {
      display: none;
  }

  .mobile-nav{
      display: block;
      margin-left: -150px;
      transition: all 500ms;
  }

  .show-mobile-nav{
      margin-left: 0;
      transition: all 500ms;
  }
}
----------

footer{
  display: block;
  width: 100%;
  position: relative;
  margin-top: auto;
  z-index: 2;
}
.footer-box{
  display: flex;
  flex-direction: row;
}
.footer-box a img, .footer-box img{
  margin: 1em;
  border-radius: 1em;
}

.footer-1, .footer-2, .footer-3{
  display: flex;
  flex-direction: column;
}
.footer-row{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

address{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
div.tegel{
display: flex;
flex-direction: row;
width: 18.75em;
height: 11.25em;
border-radius: 1.5em;
}
div.column-text{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: auto;
  margin-top: auto;
}
.tegel-1{ grid-area: tegel-1;}
.tegel-2{ grid-area: tegel-2;}
.tegel-3{ grid-area: tegel-3;}
.tegel-4{ grid-area: tegel-4;}
.tegel-5{ grid-area: tegel-5;}
.tegel-6{ grid-area: tegel-6;}



div.tegels{
  display: grid;
  grid-template-areas: 
  'tegel-1 tegel-2'
  'tegel-3 tegel-4'
  'tegel-5 tegel-6';
  gap: 2em;
  padding: 0em;
  width: fit-content;
  height: auto;
  justify-items: center;
  margin: 1.25em auto;
}

a{
  text-decoration: none;
}

.article-grid{ grid-area: article-grid;}
.image-1-grid{grid-area: image-1-grid;}
.image-2-grid{grid-area: image-2-grid;}
.image-3-grid{grid-area: image-3-grid;}

.image-1-grid, .image-2-grid, .image-3-grid{
  border-radius: 1em;
}

.article-page{
display: grid;
grid-template-areas: 
'article-grid article-grid image-1-grid'
'article-grid article-grid image-2-grid'
'article-grid article-grid image-3-grid';
gap: 2em;
padding: 2em;
width: 47.5em;
height: auto;
border-radius: 1.5em;
margin: 2em auto;
}
.article-grid{
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}
.article-page h1, .article-page h2, .article-page h3, .article-page p{
  text-align: left;
}
form{
  display: flex;
  flex-direction: column;
  width: 31.25em;
  margin: 3em auto;
  padding: 2em;
  border-radius: 1.5em;
}
form input, form textarea{
  padding: 0.3em 0.625em;
  border-radius: 0.3em;
}
form label{
  margin: 1.25em auto 0.25em 0em;
}
form input[type=submit]{
  max-width: fit-content;
  margin:0.625em 0em auto auto;
}

form textarea{
  resize: vertical;
  width: auto;
  height: 11.25em;
  max-height: 25em;
}
form input{
  width: 16.25em;
}
.submit-contact{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto auto 3em auto;
  padding: 2em;
  border-radius: 1.5em;
}

.article-abme{grid-area: article-abme;}
.table-box{grid-area: table-box;}
.vid-abme{grid-area: vid-abme;}

.grid-abme{
  display: grid;
  grid-template-areas:
  'article-abme article-abme table-box'
  'article-abme article-abme vid-abme';
  gap: 2em;
  padding: 2em;
  width: 55em;
  height: auto;
  border-radius: 1.5em;
  margin: 2em auto;
}
.cookies{
  width: 300px;
  height: 300px;
  margin: auto;
  position: fixed;
  top: 50%;
  margin-top: -150px;
  left: 50%;
  margin-left: -150px;
  border-radius: 1.5em;
  line-height: 1.25em;
  font-size: 1em;
  padding: 0.3em;
  z-index: 100;
}
.cookies h1{
  line-height: 1.25em;
  font-size: 1.5em;
  padding: 0.3em;
}
.cookies button{
  line-height: 1.25em;
  font-size: 1em;
  padding: 0.3em;
}

